<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DsgnFavoritesMapper">
    
    <resultMap type="DsgnFavorites" id="DsgnFavoritesResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="designSchemeId"    column="design_scheme_id"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectDsgnFavoritesVo">
        select id, user_id, design_scheme_id, created_at from dsgn_favorites
    </sql>

    <select id="selectDsgnFavoritesList" parameterType="DsgnFavorites" resultMap="DsgnFavoritesResult">
        <include refid="selectDsgnFavoritesVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="designSchemeId != null "> and design_scheme_id = #{designSchemeId}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectDsgnFavoritesById" parameterType="Long" resultMap="DsgnFavoritesResult">
        <include refid="selectDsgnFavoritesVo"/>
        where id = #{id}
    </select>

    <insert id="insertDsgnFavorites" parameterType="DsgnFavorites" useGeneratedKeys="true" keyProperty="id">
        insert into dsgn_favorites
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="designSchemeId != null">design_scheme_id,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="designSchemeId != null">#{designSchemeId},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateDsgnFavorites" parameterType="DsgnFavorites">
        update dsgn_favorites
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="designSchemeId != null">design_scheme_id = #{designSchemeId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDsgnFavoritesById" parameterType="Long">
        delete from dsgn_favorites where id = #{id}
    </delete>

    <delete id="deleteDsgnFavoritesByIds" parameterType="String">
        delete from dsgn_favorites where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>