<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DsgnDesignSchemeColorsMapper">
    
    <resultMap type="DsgnDesignSchemeColors" id="DsgnDesignSchemeColorsResult">
        <result property="id"    column="id"    />
        <result property="designSchemeId"    column="design_scheme_id"    />
        <result property="colorId"    column="color_id"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectDsgnDesignSchemeColorsVo">
        select id, design_scheme_id, color_id, created_at from dsgn_design_scheme_colors
    </sql>

    <select id="selectDsgnDesignSchemeColorsList" parameterType="DsgnDesignSchemeColors" resultMap="DsgnDesignSchemeColorsResult">
        <include refid="selectDsgnDesignSchemeColorsVo"/>
        <where>  
            <if test="designSchemeId != null "> and design_scheme_id = #{designSchemeId}</if>
            <if test="colorId != null "> and color_id = #{colorId}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectDsgnDesignSchemeColorsById" parameterType="Long" resultMap="DsgnDesignSchemeColorsResult">
        <include refid="selectDsgnDesignSchemeColorsVo"/>
        where id = #{id}
    </select>

    <insert id="insertDsgnDesignSchemeColors" parameterType="DsgnDesignSchemeColors" useGeneratedKeys="true" keyProperty="id">
        insert into dsgn_design_scheme_colors
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="designSchemeId != null">design_scheme_id,</if>
            <if test="colorId != null">color_id,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="designSchemeId != null">#{designSchemeId},</if>
            <if test="colorId != null">#{colorId},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateDsgnDesignSchemeColors" parameterType="DsgnDesignSchemeColors">
        update dsgn_design_scheme_colors
        <trim prefix="SET" suffixOverrides=",">
            <if test="designSchemeId != null">design_scheme_id = #{designSchemeId},</if>
            <if test="colorId != null">color_id = #{colorId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDsgnDesignSchemeColorsById" parameterType="Long">
        delete from dsgn_design_scheme_colors where id = #{id}
    </delete>

    <delete id="deleteDsgnDesignSchemeColorsByIds" parameterType="String">
        delete from dsgn_design_scheme_colors where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>