<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudyGroupMapper">
    
    <resultMap type="StudyGroup" id="StudyGroupResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="groupName"    column="group_name"    />
        <result property="region"    column="region"    />
        <result property="memberNumber"    column="member_number"    />
    </resultMap>

    <sql id="selectStudyGroupVo">
        select id, group_id, group_name, region, member_number from study_group
    </sql>

    <select id="selectStudyGroupList" parameterType="StudyGroup" resultMap="StudyGroupResult">
        <include refid="selectStudyGroupVo"/>
        <where>  
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="groupName != null  and groupName != ''"> and group_name like concat('%', #{groupName}, '%')</if>
            <if test="region != null  and region != ''"> and region = #{region}</if>
            <if test="memberNumber != null "> and member_number = #{memberNumber}</if>
        </where>
    </select>
    
    <select id="selectStudyGroupById" parameterType="Long" resultMap="StudyGroupResult">
        <include refid="selectStudyGroupVo"/>
        where id = #{id}
    </select>

    <insert id="insertStudyGroup" parameterType="StudyGroup" useGeneratedKeys="true" keyProperty="id">
        insert into study_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">group_id,</if>
            <if test="groupName != null and groupName != ''">group_name,</if>
            <if test="region != null and region != ''">region,</if>
            <if test="memberNumber != null">member_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">#{groupId},</if>
            <if test="groupName != null and groupName != ''">#{groupName},</if>
            <if test="region != null and region != ''">#{region},</if>
            <if test="memberNumber != null">#{memberNumber},</if>
         </trim>
    </insert>

    <update id="updateStudyGroup" parameterType="StudyGroup">
        update study_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="groupName != null and groupName != ''">group_name = #{groupName},</if>
            <if test="region != null and region != ''">region = #{region},</if>
            <if test="memberNumber != null">member_number = #{memberNumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudyGroupById" parameterType="Long">
        delete from study_group where id = #{id}
    </delete>

    <delete id="deleteStudyGroupByIds" parameterType="String">
        delete from study_group where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>